@CHARSET "ISO-8859-1";

@font-face {
    font-family: 'romance_fatal_serif_stdbold';
    src: url('fonts/romancefatalserifstd-bold-webfont.eot');
    src: url('fonts/romancefatalserifstd-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/romancefatalserifstd-bold-webfont.woff') format('woff'),
         url('fonts/romancefatalserifstd-bold-webfont.ttf') format('truetype'),
         url('fonts/romancefatalserifstd-bold-webfont.svg#romance_fatal_serif_stdbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
	// padding:0 20px
    font-family: arial;
}

#entry-copy{
    float: right;
    width: 320px;
}

#user-message{
    font-size: 12px;
    margin: 10px 0;
    padding: 0 10px;
    display:none;
}

.msg.error,
.fieldmsg.error{
	background: none repeat scroll 0 0 #FFEEEE;
    border: 1px solid #990000;
    color: #990000;
}

.msg.confirm,
.fieldmsg.confirm{
	background: none repeat scroll 0 0 #EEFFEE;
    border: 1px solid #009900;
    color: #009900;
}

#entry-form {
    width: auto;
    max-width: 100%;
}

.form-left {
    float: left;
    max-width: 50%;
}

.form-right {
    float: right;
    max-width: 50%;
}

#entry-form div.field-wrap {
    margin-bottom: 10px;
    padding: 10px 0 0;
    width: 525px;
    max-width: 100%;
}

#entry-form div.field-wrap.submit {
	text-align: center;
    clear: both;
    width: 100% !important;
    input {
        color: #fff;
        padding:10px 25px;
        background: #9b191c;
        border-color: #de4444;
        border-radius: 7px;
        font-family: 'romance_fatal_serif_stdbold';
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}

#recaptcha_widget_div {
    margin-left: 20px;
}

#entry-form div.field-wrap label {
    display: inline-block;
    padding-right: 10px;
    text-align: right;
    width: 180px;
    font-weight: bold;
    font-weight: 16px;
    
}

#entry-form div.field-wrap input,
#entry-form div.field-wrap select,
#entry-form div.field-wrap textarea {
	border:1px solid #777;
	width:212px;
    position: relative;
    z-index: 999;
}

#entry-form div.field-wrap input {
    border-radius: 3px;
    moz-border-radius: 3px;
    webkit-border-radius: 3px;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
}

#entry-form div.field-wrap .checkbox {
    box-shadow: none;
}
#entry-form div.field-wrap input[type=submit]{
	width:auto;
}


#entry-form div.field-wrap select.dob{
	width:64px;
}

#entry-form div.field-wrap select.yy{
    width:80px;
}

#entry-form div.field-wrap input:focus,
#entry-form div.field-wrap select:focus,
#entry-form div.field-wrap textarea:focus {
	border:1px solid #999
}

#entry-form div.field-wrap input.error,
#entry-form div.field-wrap select.error,
#entry-form div.field-wrap textarea.error {
	border:1px solid #900
}

#entry-form div.field-wrap input.confirm,
#entry-form div.field-wrap select.confirm,
#entry-form div.field-wrap textarea.confirm {
	border:1px solid #090
}

#entry-form div.field-msg {
    border: 1px solid #999999;
    display: block;
    margin: 10px 0 20px;
    padding: 5px;
}

#entry-form div.field-msg {
    display: none;
}

#entry-form div.field-msg {
    background-color: #FFEEEE;
    border: 1px solid #990000;
    border-radius: 4px;
    color: #990000;
    display: block;
    margin: 10px 26px 30px;
    padding: 9px;
    text-shadow: 1px 1px 0 #FFFFFF;
    display: none;
}

.entry-confirm {
    white-space: nowrap;
    padding-right:20px !important;
}

.field-wrap.code p {
    text-align: right;
    width: 86%;
    margin-top: -28px;
}

.inner {
    width:940px;
    max-width: 98%;
    margin:0 auto;
}

.logo-clear {
    width: 1398px;
    max-width: 100%;
    display: block;
    clear: both;
    background: #ee2e24;
    margin: 0 auto;
}

header {
    background: url(../images/header-bg.jpg) no-repeat center;
    height: 628px;
    width: 100%;
    position: relative;
    .header {
        img.titles {
            display: block;
            clear: both;
            margin:0 auto;
            max-width: 98%;
        }
        .titles:first-child {
            padding-top: 22px;
        }
        p {
            text-align: center;
            display: block;
            color: #fff;
            width: 748px;
            margin:22px auto 28px auto;
            text-shadow: 0 2px 2px #000;
            font-size: 20px;
            font-family: helvetica;
            max-width: 92%;
        }
        img.one20 {
            position: relative;
            top: -80px;
        }
        .header-stars {
            position: relative;
            left: 380px;
        }
    }
}
section {
    width: 100%;
    #app-form {
        padding-bottom:110px;
    }
    .formbody {
        position: relative;
        top:-70px;
        padding-top:115px;
        padding-bottom: 100px;
        background: #FFF;
        box-shadow: 0px 0px 27px rgba(0,0,0,0.8);
        text-align: center;
        img.prods {
            margin-top: -280px;
            z-index: 999;
            max-width: 98%;
        }
        h2 {
            width: 889px;
            background: url(../images/howto-bg.jpg);
            display: block;
            height: 96px;
            clear: both; 
            color: #fff;
            text-align: center;
            line-height: 96px;
            margin:0 auto;
            margin-bottom: 20px;
            font-family: 'romance_fatal_serif_stdbold';
            font-size: 34px;
            max-width: 98%;
        }
        p {
            font-family: arial;
            font-size: 13px;
            width: 743px;
            display: block;
            margin: 10px auto;
            font-weight: bold;
            max-width: 98%;
            text-align: left;
        }
        ul.entries {
            font-family: arial;
            font-size: 13px;
            width: 743px;
            display:inline-block;
            margin: 10px auto;
            font-weight: bold;
            max-width: 98%;
            padding: 0;
            li {
                text-align: left;
            }
        }
        ol {
            display: inline-block;
            max-width: 90%;
            padding: 0;
            li {
                text-align: left;
            }
            ol {
                padding-left: 25px;
            }
        }
        .enter-intro {
            margin-top: 10px;
            font-size: 17px;  
        }
        h3 {
            clear: both;
            text-align: center;
            margin-top: 30px;
            margin-bottom: 0;
            font-family: 'romance_fatal_serif_stdbold';
            color: #ac1c21;
        }
        .prod-lists ul {
            display: inline-block;
            vertical-align: top;
            background: #ddd;
            width: 279px;
            text-align: center;
            padding:15px 0;
            margin-right: 20px;
            border-radius: 10px;
            moz-border-radius:10px;
            webkit-border-radius:10px;
            /* IE9 SVG, needs conditional override of 'filter' to 'none' */
            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
            background: -moz-linear-gradient(top,  rgba(229,229,229,1) 0%, rgba(229,229,229,0) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,1)), color-stop(100%,rgba(229,229,229,0))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(229,229,229,0) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(229,229,229,0) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(229,229,229,0) 100%); /* IE10+ */
            background: linear-gradient(to bottom,  rgba(229,229,229,1) 0%,rgba(229,229,229,0) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#00e5e5e5',GradientType=0 ); /* IE6-8 */
            li {
                font-weight: bold;
                font-size: 15px;
                color: #791410;
                list-style: none;
            }
        }
        ul:last-of-type {
            margin-right: 0;
        }
        .prod-lists {
            text-align: center;
        }
        .data-protection {
            font-weight: 400;
            width: 90%;
            font-size: 9px;
        }
        .stars-bottom {
            position: absolute;
            bottom:-83px;
            right: 200px;
        }
    }
}
footer {
    text-align: center;
    a {
        color: inherit;
        text-decoration: none;
        font-weight: bold;
        font-size: 13px;
        &:hover {
            text-decoration: underline;
        }
    }
    a:first-child {
        margin-right: 15px;
    }
}

@media all and (max-width: 950px) {
    header {
        height: auto;
        max-height: 621px;
        padding-bottom: 250px;
        .header-stars {
            display: none;
        }
    }
    #entry-form {
        width: 500px;
        margin: 0 auto;
    }
    .form-left {
        max-width: 100%;
    }

    .form-right {
        float: left;
        max-width: 100%;
    }
    section {
        .formbody {
            .stars-bottom {
                position: absolute;
                bottom:-50px;
                right: 50px;
                width: 350px; 
            }
            ul {
                display: block;
                clear:both;
                margin: 25px auto;
            }
            ul:last-of-type {
                margin-right: auto;
            }
        }
    }
    ul.entries {
        max-width: 80% !important;
    }
    ol {
        max-width: 80% !important;
        margin-left: 5px;
    }

}

@media all and (max-width: 768px) {
    header {
        padding-bottom: 200px;
    }
    section {
        .formbody {
            margin-left: 2%;
            margin-right: 2%;
            width: 96%;
            padding-top:75px;
            p {
                max-width: 92%;
            }
            img.prods {
                margin-top: -190px;
            }
            h2 {
                line-height: 48px;
            }
            .stars-bottom {
                display: none; 
            }
        }
    }
    #entry-form {
        margin: 0 auto;
    }
    #entry-form div.field-wrap{
        margin-left: -30px; 
        input {
            width:250px;
            height: 25px;
        }
        input[type=submit] {
            height: auto;
            margin-left:0; 
        }
    }
}


@media all and (max-width: 520px) {
    header {
        padding-bottom: 135px;
    }
    section {
        .formbody {
            width: 94%;
            padding-left:1%;
            padding-right:1%;
            padding-bottom:10px;
            padding-top:50px;
            img.prods {
                margin-top: -140px;
            }
        }
    }
    #entry-form div.field-wrap {
        width: auto;
        display: block;
        margin: 0 auto;
        clear: both;
        max-width: 98%;
        padding: 10px 0 0 5px;
    }
    .form-left, .form-right {
        width: 100%;
    }
    #entry-form div.field-wrap {
        text-align: left;
        width: 95%;
    }
    #entry-form div.field-wrap input {
        text-align: left;
        width: 95%;
    }
    #entry-form div.field-wrap label {
        text-align: left;
        width: 95%;
    }
    #entry-form div.field-wrap select.dob:first-of-type {
        clear: left;
    }
    #entry-form div.field-msg {
        margin-left:0;
    }

    .field-wrap.code p {
       text-align: left;
       margin-left: 0 !important;
}


}


